@charset "utf-8";
@import url(common/reset.css);

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .sec-con{
    flex: 0 1 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.section .sec-con .gallery{
    width: 500%;
    height: inherit;
    position: absolute;
    left: 0;
}
.section .sec-con .gallery>ul{
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.section .sec-con .gallery>ul>li{
    flex: 1;
    height: inherit;
    border: 1px solid;
    box-sizing: border-box;
}
.section .bCon{
    width: 100%;
    height: auto;
    border: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
}
.section .sec-con .bCon .items{
    width: 150px;
    height: auto;
}
.section .sec-con .bCon .items>ul{
    display: flex;
    justify-content: space-between;
}
.section .sec-con .bCon .items>ul>li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(141, 98, 98)
}
.section .sec-con .bCon .items>ul>li:hover{
    background-color: rgb(141, 98, 98);
    cursor: pointer;
}
.on{
    background-color:rgb(141, 98, 98);
    border: 2px solid rgb(138, 71, 71);
    box-sizing: border-box;
}

